<main role="main" style="background-image: url('puertoMadero01.jpg'); background-size: 100%">

  <div>
    <form action="">
      <h2>Contactenos</h2>
      <input type="text" name="Nombre" placeholder="Ingrese aqui su Nombre">
      <input type="text" name="Correo" placeholder="Ingrese aqui su e-mail">
      <textarea name="mensaje" placeholder="Escribe aqui su mensaje"></textarea>
      <button type="button" class="btn btn-danger btn-sm boton">Enviar</button>
  <!-- <input type="button" class="btn btn-danger btn-sm" value="Enviar"> -->
    </form>
  </div>

  <hr>

</main>

<footer class="container">
  <p>&copy; Petito sistemas 2019</p>
</footer>

