<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron fondoInicio">
      <div class="container-fluid">
        <div class="fondoTitulo-1">
            <h1 class="letraAnton texto-borde tamañoLetra-1 posicionTitulo-derch">ASESORAMIENTO PERSONALIZADO</h1>
            <h3 class="letraAnton texto-borde-2 posicionTitulo-derch">COMPRA-VENTAS | ALQUILERES | TASACIONES | ADMINISTRACION DE PROPIEDADES</h3>
        </div>
       <p class="textoColor-White fondoTitulo-1">El Asesoramiento para realizar una operación inmobiliaria lo puede llevar a realizar una operación inmobiliaria 
          con éxito o realizar el peor negocio de su vida. No deje nada librado a la azar."</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                  COMPRA-VENTA
                </div>
                <div class="card-body">
                  <h5 class="card-title">Inmuebles Especiales</h5>
                  <p class="card-text">Trabajamos para que todas las partes (Comprador y Vendedor) le resulte fácil y beneficioso concretar una operación inmobiliaria</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
        <div class="col-md-4">
          <h2>ALQUILER</h2>
          <p>A través de nuestra Atención Personalizada, le aseguramos una mejor rentabilidad y buen mantenimiento de su propiedad con absoluta transparencia. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>TASACION</h2>
          <p>Segun normas del Tribunal de Tasacion de la Nacion. El valor que se dá para Vender o Alquiler una propiedad es el pilar fundamental para llevar a cabo un buen negocio y en el momento previsto, sin dilaciones.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>